body {
    margin: 0;

    #canvasses {
        width: 100vw;
        margin-top: 10vh;
        display: flex;
        justify-content: center;

        canvas {
            width: 30vw;
            height: 30vh;
        }
    }

    #controls {
        width: 100vw;
        margin-top: 20vh;
        display: flex;
        justify-content: center;

        button {
            width: 10vw;
            height: 10vh;
            margin: 0 2vw;
            font-size: 3vh;
        }
    }
}